{% extends 'blog/base.html' %}
{% block content %}
<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    </style>
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-4">
  
            <form> 
              <!-- Username input -->
              <div class="form-outline mb-4">
                <input type="username" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example3">Username</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
              </div>
  
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                </div>
              </div>
  
              <!-- Submit button -->
              <button type="button" class="btn btn-secondary btn-block mb-2" href="post_new">Sign in</button>
  
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  {% endblock %}